<header id="header">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div class="logo">
        <a routerLink="/">{{ appTitle }}</a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a routerLink="/">Home</a></li>
          <li><a routerLink="/cd">CD list</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->