.cd-com{
    
    background-color: rgb(255, 237, 215)
}

ul {
    list-style-type: none;    
    padding: 0;
    li {
        padding: 2em;
    }
}

table {
    width: 100%;
    margin-top: -20px;
    background-color: bisque
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  h1{
    padding: 15px;
  }

.Search {
    float: right; 
    padding: 30px;
    display:inline-block;
}
.title{display: inline-block;
    padding: 15px;
    margin-left: 20px; 
}