/* You can add global styles to this file, and also import other style files */
.text-yellow {
    color: #FFFF00;
  }

  .float-left {
    float: left;
  }
  
  .float-right {
    float: right;
  }
  
  .text-italic {
    font-style: italic;
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-yellow {
    color: #FFFF00;
  }
  
  .text-orange {
    color: #FFA500;
  }
  
  .text-black {
    color: #000;
  }

