<section class="bg-area" id="home">	
    <div class="container">
      <div class="row fullscreen d-flex align-items-center justify-content-start">
        <div class="bg-content col-lg-7">
          <h6 class="text-yellow text-uppercase">Explore the collection</h6>
          <h1 class="text-orange">
            Begin the trip <br>
            Find your favourite disc				
          </h1>
          <a routerLink="/cd" class="primary-btn text-uppercase">Explore Now</a>
        </div>											
      </div>
    </div>
  </section>